* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

.bg-secondary {
  background-color: #2c3e50;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  background-color: #1abc9c !important;
}

/* custom bootsrap */
.navbar {
  border-radius: 0px;
  margin-bottom: 0;
  border: none;
}

.row {
  padding-top: 20px;
  padding-bottom: 30px;
}

h3 {
  font-weight: 900;
}

hr {
  display: inline-block;
  width: 10%;
  border-radius: 2px;
  border: 2px solid white;
  vertical-align: middle;
}

.fa-star {
  vertical-align: middle;
  font-size: 23px;
  display: inline-block;
}

.col-xs-12 {
  text-align: center;
}

/* main */
main .hr-star-hr hr {
  border: 2px solid rgb(51, 51, 51);
}
.btn-download {
  text-align: center;
}

main div.col-xs-12.portofoglio {
  padding-bottom: 0;
}

h4 {
  font-weight: 900;
}

main .col-xs-12 {
  padding-top: 10px;
  padding-bottom: 20px;
}

main .col-xs-12 img {
  width: 100%;
  border-radius: 7px;
}

main .col-xs-12.hr-star-hr {
  padding-top: 0;
  height: 50px;
}

/* main */
/* utility */
.pb-0 {
  padding-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}
.h-40 {
  height: 40px;
}

.ml-13 {
  margin-left: 13px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) { ... } */
/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... } */
